# Manutenzione preventiva - DoS Attacks

In [1]:
import pandas as pd
import json as json
import ipaddress as ip 
import numpy as np
import warnings
import functions_notebook_new as fn
import functions_notebook_arinew as fan
from datetime import timedelta
from scipy.stats import entropy
import os


warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
### Estrazione features, creazione dataframe, scrittura dataframes su disco
levels_of_interest = ['frame', 'eth', 'tcp', 'arp', 'udp', 'modbus', 'icmp', 'ip']
# clean captures
clean_capture = 'captures\\captures1_v2\\clean\\eth2dump-clean-0,5h_1.json'

# ping flooding captures 1 min
pf_capture_1 = 'captures\\captures1_v2\\pingFloodDDoS\\eth2dump-pingFloodDDoS15m-0,5h_1.json'
pf_capture_2 = 'captures\\captures2\\pingFloodDDoS\\eth2dump-pingFloodDDoS15m-0,5h_1.json'

# nome dataframe su disco
dfclean_disk = ".\\compressed_datasets\\df_clean.gzip"
dfpf1_disk = ".\\compressed_datasets\\dfpf1.gzip"
dfpf2_disk = ".\\compressed_datasets\\dfpf2.gzip"
dfpf3_disk = ".\\compressed_datasets\\dfpf3.gzip"

if not os.path.isfile(dfclean_disk):
	packets_cc = fn.load_packets_from_file(clean_capture)
	features_cc = fn.extract_features_from_packets(packets_cc, levels_of_interest)
	df_cc = pd.DataFrame(features_cc)
	features_cc.clear()
	df_cc.to_pickle(dfclean_disk, compression='gzip')
else:
	df_cc = pd.read_pickle(dfclean_disk, compression='gzip')

if not os.path.isfile(dfpf1_disk):
	pkt_pf_15m_05h = fn.load_packets_from_file(pf_capture_1)
	features_pf_15m_05h = fn.extract_features_from_packets(pkt_pf_15m_05h, levels_of_interest)
	df = pd.DataFrame(features_pf_15m_05h)
	features_pf_15m_05h.clear()
	df.to_pickle(dfpf1_disk, compression='gzip')
else:
	df = pd.read_pickle(dfpf1_disk, compression='gzip')

if not os.path.isfile(dfpf2_disk):
	pkt_pf_15m_05h_2 = fn.load_packets_from_file(pf_capture_2)
	features_pf_15m_05h_2 = fn.extract_features_from_packets(pkt_pf_15m_05h_2, levels_of_interest)
	df1 = pd.DataFrame(features_pf_15m_05h_2)
	features_pf_15m_05h_2.clear()
	df1.to_pickle(dfpf2_disk, compression='gzip')
else:
	df1 = pd.read_pickle(dfpf2_disk, compression='gzip')

In [3]:
print(len(df_cc))
print(len(df))
print(len(df1))

35430
197778
212192

In [4]:
fn.calcolo_features_binarie(df_cc)
fn.calcolo_features_binarie(df)
fn.calcolo_features_binarie(df1)

In [5]:
df_cc['frame.frame.time_utc'] = pd.to_datetime(df_cc['frame.frame.time_utc'])
df['frame.frame.time_utc'] = pd.to_datetime(df['frame.frame.time_utc'])
df1['frame.frame.time_utc'] = pd.to_datetime(df1['frame.frame.time_utc'])

In [6]:
df_cc.sort_values(by='frame.frame.time_utc')
df.sort_values(by='frame.frame.time_utc')
df1.sort_values(by='frame.frame.time_utc')

,frame.frame.encap_type,frame.frame.time,frame.frame.time_utc,frame.frame.time_epoch,frame.frame.offset_shift,frame.frame.time_delta,frame.frame.time_delta_displayed,frame.frame.time_relative,frame.frame.number,frame.frame.len,...,ip,udp,arp,mbtcp,dhcpv6,eth,llmnr,icmpv6,data,llc
0,1,"Aug 9, 2018 02:27:03.442593000 ora legale Eur...",2018-08-09 00:27:03.442593+00:00,1533774423.442593000,0.000000000,0.000000000,0.000000000,0.000000000,1,66,...,1,0,0,1,0,1,0,0,0,0
1,1,"Aug 9, 2018 02:27:03.454343000 ora legale Eur...",2018-08-09 00:27:03.454343+00:00,1533774423.454343000,0.000000000,0.011750000,0.011750000,0.011750000,2,85,...,1,0,0,1,0,1,0,0,0,0
2,1,"Aug 9, 2018 02:27:03.660330000 ora legale Eur...",2018-08-09 00:27:03.660330+00:00,1533774423.660330000,0.000000000,0.205987000,0.205987000,0.217737000,3,60,...,1,0,0,0,0,1,0,0,0,0
3,1,"Aug 9, 2018 02:27:03.722708000 ora legale Eur...",2018-08-09 00:27:03.722708+00:00,1533774423.722708000,0.000000000,0.062378000,0.062378000,0.280115000,4,64,...,0,0,0,0,0,1,0,0,0,1
4,1,"Aug 9, 2018 02:27:03.754549000 ora legale Eur...",2018-08-09 00:27:03.754549+00:00,1533774423.754549000,0.000000000,0.031841000,0.031841000,0.311956000,5,66,...,1,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212187,1,"Aug 9, 2018 02:57:02.480003000 ora legale Eur...",2018-08-09 00:57:02.480003+00:00,1533776222.480003000,0.000000000,0.094282000,0.094282000,1799.037410000,212188,66,...,1,0,0,1,0,1,0,0,0,0
212188,1,"Aug 9, 2018 02:57:02.489774000 ora legale Eur...",2018-08-09 00:57:02.489774+00:00,1533776222.489774000,0.000000000,0.009771000,0.009771000,1799.047181000,212189,85,...,1,0,0,1,0,1,0,0,0,0
212189,1,"Aug 9, 2018 02:57:02.697702000 ora legale Eur...",2018-08-09 00:57:02.697702+00:00,1533776222.697702000,0.000000000,0.207928000,0.207928000,1799.255109000,212190,60,...,1,0,0,0,0,1,0,0,0,0
212190,1,"Aug 9, 2018 02:57:02.791977000 ora legale Eur...",2018-08-09 00:57:02.791977+00:00,1533776222.791977000,0.000000000,0.094275000,0.094275000,1799.349384000,212191,66,...,1,0,0,1,0,1,0,0,0,0
212191,1,"Aug 9, 2018 02:57:02.800427000 ora legale Eur...",2018-08-09 00:57:02.800427+00:00,1533776222.800427000,0.000000000,0.008450000,0.008450000,1799.357834000,212192,85,...,1,0,0,1,0,1,0,0,0,0

In [7]:
start_time = df['frame.frame.time_utc'].iloc[0]
end_time=start_time+timedelta(seconds=298.8)
end_time2 = end_time + timedelta(seconds=900)

In [8]:
start_time_2 = df1['frame.frame.time_utc'].iloc[0]
end_time_2=start_time_2+timedelta(seconds=299.16)
end_time2_2 = end_time_2 + timedelta(seconds=900)

In [9]:
df_cc1 = df[(df['frame.frame.time_utc'] >= start_time) & (df['frame.frame.time_utc'] < end_time)].copy()
df_attack = df[(df['frame.frame.time_utc'] >= end_time) & (df['frame.frame.time_utc'] <= end_time2)].copy()
df_cc2 = df[(df['frame.frame.time_utc'] > end_time2)].copy()

In [10]:
df1_cc1_2 = df1[(df1['frame.frame.time_utc'] >= start_time_2) & (df1['frame.frame.time_utc'] < end_time_2)].copy()
df1_attack_2 = df1[(df1['frame.frame.time_utc'] >= end_time_2) & (df1['frame.frame.time_utc'] <= end_time2_2)].copy()
df1_cc2_2 = df1[(df1['frame.frame.time_utc'] > end_time2_2)].copy()

In [11]:
df_cc_aggregation = fan.calcola_features(df_cc)
df_cc1_aggregation = fan.calcola_features(df_cc1)
df_cc2_aggregation = fan.calcola_features(df_cc2)
df_att_aggregation = fan.calcola_features(df_attack)

In [12]:
df1_cc1_aggregation = fan.calcola_features(df1_cc1_2)
df1_att_aggregation = fan.calcola_features(df1_attack_2)
df1_cc2_aggregation = fan.calcola_features(df1_cc2_2)

In [13]:
df1_att_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,524,518,5,0,48,17,470,524,1.0,0.988550,...,7.368338,0.496623,3090.4,104.8,8,8,1.0,470,0.0,0.0
1,1087,1076,8,0,92,34,984,1087,1.0,0.989880,...,7.153295,0.466165,6395.2,217.4,16,16,1.0,984,0.0,0.0
2,1090,1078,4,3,97,34,978,1090,1.0,0.988991,...,14.732605,0.505047,6546.4,218.0,16,16,1.0,978,0.0,0.0
3,1072,1066,2,1,82,33,983,1072,1.0,0.994403,...,11.368425,0.414249,6369.6,214.4,16,16,1.0,983,0.0,0.0
4,1083,1076,4,1,92,34,983,1083,1.0,0.993536,...,7.036513,0.457443,6403.2,216.6,16,16,1.0,983,0.0,0.0

In [14]:
df1_cc1_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,36,33,2,0,33,11,0,36,1.0,0.916667,...,16.967827,1.592200,312.6,7.2,5,5,1.0,0.0,0.0,0.0
1,87,82,2,1,81,34,0,87,1.0,0.942529,...,16.434052,1.544639,807.2,17.4,16,17,1.0,0.0,0.0,0.0
2,105,99,4,0,99,35,0,105,1.0,0.942857,...,15.768471,1.541296,947.0,21.0,17,16,1.0,0.0,0.0,0.0
3,101,94,4,0,94,34,0,101,1.0,0.930693,...,16.459756,1.569919,900.8,20.2,16,16,1.0,0.0,0.0,0.0
4,85,79,4,0,79,33,0,85,1.0,0.929412,...,17.177782,1.519354,775.2,17.0,16,16,1.0,0.0,0.0,0.0

In [15]:
df1_cc2_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,50,47,2,0,47,15,0,50,1.0,0.940000,...,15.540191,1.525704,441.8,10.0,7,7,1.0,0.0,0.0,0.0
1,101,92,6,0,92,34,0,101,1.0,0.910891,...,17.596602,1.598029,884.8,20.2,16,16,1.0,0.0,0.0,0.0
2,88,83,2,3,81,33,0,88,1.0,0.943182,...,34.192460,1.581549,870.4,17.6,16,16,1.0,0.0,0.0,0.0
3,109,100,4,2,100,34,0,109,1.0,0.917431,...,16.961610,1.559441,948.8,21.8,16,16,1.0,0.0,0.0,0.0
4,99,92,4,1,92,34,0,99,1.0,0.929293,...,16.613645,1.579235,884.8,19.8,16,16,1.0,0.0,0.0,0.0