# Manutenzione preventiva - DoS Attacks

In [19]:
import pandas as pd
import json as json
import ipaddress as ip 
import numpy as np
import warnings
import functions_notebook_new as fn
import functions_notebook_arinew as fan
from datetime import timedelta
from scipy.stats import entropy
import os


warnings.simplefilter(action='ignore', category=FutureWarning)

In [20]:
### Estrazione features, creazione dataframe, scrittura dataframes su disco
levels_of_interest = ['frame', 'eth', 'tcp', 'arp', 'udp', 'modbus', 'icmp', 'ip']
# clean captures
clean_capture = 'captures\\captures1_v2\\clean\\eth2dump-clean-0,5h_1.json'

# ping flooding captures 1 min
pf_capture_1 = 'captures\\captures1_v2\\pingFloodDDoS\\eth2dump-pingFloodDDoS15m-0,5h_1.json'
pf_capture_2 = 'captures\\captures2\\pingFloodDDoS\\eth2dump-pingFloodDDoS15m-0,5h_1.json'

# nome dataframe su disco
dfclean_disk = ".\\compressed_datasets\\df_clean.gzip"
dfpf1_disk = ".\\compressed_datasets\\dfpf1.gzip"
dfpf2_disk = ".\\compressed_datasets\\dfpf2.gzip"
dfpf3_disk = ".\\compressed_datasets\\dfpf3.gzip"

if not os.path.isfile(dfclean_disk):
	packets_cc = fn.load_packets_from_file(clean_capture)
	features_cc = fn.extract_features_from_packets(packets_cc, levels_of_interest)
	df_cc = pd.DataFrame(features_cc)
	features_cc.clear()
	df_cc.to_pickle(dfclean_disk, compression='gzip')
else:
	df_cc = pd.read_pickle(dfclean_disk, compression='gzip')

if not os.path.isfile(dfpf1_disk):
	pkt_pf_15m_05h = fn.load_packets_from_file(pf_capture_1)
	features_pf_15m_05h = fn.extract_features_from_packets(pkt_pf_15m_05h, levels_of_interest)
	df = pd.DataFrame(features_pf_15m_05h)
	features_pf_15m_05h.clear()
	df.to_pickle(dfpf1_disk, compression='gzip')
else:
	df = pd.read_pickle(dfpf1_disk, compression='gzip')

if not os.path.isfile(dfpf2_disk):
	pkt_pf_15m_05h_2 = fn.load_packets_from_file(pf_capture_2)
	features_pf_15m_05h_2 = fn.extract_features_from_packets(pkt_pf_15m_05h_2, levels_of_interest)
	df1 = pd.DataFrame(features_pf_15m_05h_2)
	features_pf_15m_05h_2.clear()
	df1.to_pickle(dfpf2_disk, compression='gzip')
else:
	df1 = pd.read_pickle(dfpf2_disk, compression='gzip')

In [21]:
print(len(df_cc))
print(len(df))
print(len(df1))

35430
197778
212192

In [22]:
fn.calcolo_features_binarie(df_cc)
fn.calcolo_features_binarie(df)
fn.calcolo_features_binarie(df1)

In [23]:
df_cc['frame.frame.time_utc'] = pd.to_datetime(df_cc['frame.frame.time_utc'])
df['frame.frame.time_utc'] = pd.to_datetime(df['frame.frame.time_utc'])
df1['frame.frame.time_utc'] = pd.to_datetime(df['frame.frame.time_utc'])

In [24]:
df_cc.sort_values(by='frame.frame.time_utc')
df.sort_values(by='frame.frame.time_utc')
df1.sort_values(by='frame.frame.time_utc')

,frame.frame.encap_type,frame.frame.time,frame.frame.time_utc,frame.frame.time_epoch,frame.frame.offset_shift,frame.frame.time_delta,frame.frame.time_delta_displayed,frame.frame.time_relative,frame.frame.number,frame.frame.len,...,nbdgm,eth,tcp,llc,igmp,arp,browser,dhcpv6,modbus,ipv6
0,1,"Aug 9, 2018 02:27:03.442593000 ora legale Eur...",2018-05-21 11:12:37.348723+00:00,1533774423.442593000,0.000000000,0.000000000,0.000000000,0.000000000,1,66,...,0,1,1,0,0,0,0,0,1,0
1,1,"Aug 9, 2018 02:27:03.454343000 ora legale Eur...",2018-05-21 11:12:37.350527+00:00,1533774423.454343000,0.000000000,0.011750000,0.011750000,0.011750000,2,85,...,0,1,1,0,0,0,0,0,1,0
2,1,"Aug 9, 2018 02:27:03.660330000 ora legale Eur...",2018-05-21 11:12:37.350544+00:00,1533774423.660330000,0.000000000,0.205987000,0.205987000,0.217737000,3,60,...,0,1,1,0,0,0,0,0,0,0
3,1,"Aug 9, 2018 02:27:03.722708000 ora legale Eur...",2018-05-21 11:12:37.360801+00:00,1533774423.722708000,0.000000000,0.062378000,0.062378000,0.280115000,4,64,...,0,1,0,1,0,0,0,0,0,0
4,1,"Aug 9, 2018 02:27:03.754549000 ora legale Eur...",2018-05-21 11:12:37.360805+00:00,1533774423.754549000,0.000000000,0.031841000,0.031841000,0.311956000,5,66,...,0,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212187,1,"Aug 9, 2018 02:57:02.480003000 ora legale Eur...",NaT,1533776222.480003000,0.000000000,0.094282000,0.094282000,1799.037410000,212188,66,...,0,1,1,0,0,0,0,0,1,0
212188,1,"Aug 9, 2018 02:57:02.489774000 ora legale Eur...",NaT,1533776222.489774000,0.000000000,0.009771000,0.009771000,1799.047181000,212189,85,...,0,1,1,0,0,0,0,0,1,0
212189,1,"Aug 9, 2018 02:57:02.697702000 ora legale Eur...",NaT,1533776222.697702000,0.000000000,0.207928000,0.207928000,1799.255109000,212190,60,...,0,1,1,0,0,0,0,0,0,0
212190,1,"Aug 9, 2018 02:57:02.791977000 ora legale Eur...",NaT,1533776222.791977000,0.000000000,0.094275000,0.094275000,1799.349384000,212191,66,...,0,1,1,0,0,0,0,0,1,0
212191,1,"Aug 9, 2018 02:57:02.800427000 ora legale Eur...",NaT,1533776222.800427000,0.000000000,0.008450000,0.008450000,1799.357834000,212192,85,...,0,1,1,0,0,0,0,0,1,0

In [25]:
start_time = df['frame.frame.time_utc'].iloc[0]
end_time=start_time+timedelta(seconds=298.8)
end_time2 = end_time + timedelta(seconds=900)

In [26]:
start_time_2 = df1['frame.frame.time_utc'].iloc[0]
end_time_2=start_time_2+timedelta(seconds=299.16)
end_time2_2 = end_time_2 + timedelta(seconds=900)

In [27]:
df_cc1 = df[(df['frame.frame.time_utc'] >= start_time) & (df['frame.frame.time_utc'] < end_time)].copy()
df_attack = df[(df['frame.frame.time_utc'] >= end_time) & (df['frame.frame.time_utc'] <= end_time2)].copy()
df_cc2 = df[(df['frame.frame.time_utc'] > end_time2)].copy()

In [28]:
df1_cc1_2 = df1[(df1['frame.frame.time_utc'] >= start_time_2) & (df1['frame.frame.time_utc'] < end_time_2)].copy()
df1_attack_2 = df1[(df1['frame.frame.time_utc'] >= end_time_2) & (df1['frame.frame.time_utc'] <= end_time2_2)].copy()
df1_cc2_2 = df1[(df1['frame.frame.time_utc'] > end_time2_2)].copy()

In [29]:
df_cc_aggregation = fan.calcola_features(df_cc)
df_cc1_aggregation = fan.calcola_features(df_cc1)
df_cc2_aggregation = fan.calcola_features(df_cc2)
df_att_aggregation = fan.calcola_features(df_attack)

In [30]:
df1_cc1_aggregation = fan.calcola_features(df1_cc1_2)
df1_cc2_aggregation = fan.calcola_features(df1_attack_2)
df1_att_aggregation = fan.calcola_features(df1_cc2_2)

In [31]:
df1_att_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,550,546,2,0,49,17,497,550,1.0,0.992727,...,6.990045,0.467394,3249.6,110.0,8.0,8.0,1.0,497,0.0,0.0
1,376,373,2,0,37,13,336,376,1.0,0.992021,...,7.345950,0.508278,2234.8,75.2,6.0,6.0,1.0,336,0.0,0.0
2,61,61,0,0,2,1,59,61,1.0,1.000000,...,3.412609,0.167026,348.8,12.2,0.0,1.0,1.0,59,0.0,0.0
3,36,36,0,0,6,1,30,36,1.0,1.000000,...,8.061027,0.525655,222.2,7.2,1.0,0.0,NaN,30,0.0,0.0
4,56,56,0,0,4,2,52,56,1.0,1.000000,...,6.829249,0.331584,331.8,11.2,1.0,1.0,1.0,52,0.0,0.0

In [32]:
df1_cc1_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,28,25,2,0,25,10,0,28,1.0,0.892857,...,19.187290,1.661622,245.4,5.6,5,5,1.0,0.0,0.0,0.0
1,57,54,2,0,54,19,0,57,1.0,0.947368,...,15.452389,1.535013,515.4,11.4,9,9,1.0,0.0,0.0,0.0
2,50,46,2,1,45,19,0,50,1.0,0.920000,...,17.945780,1.555499,455.0,10.0,9,9,1.0,0.0,0.0,0.0
3,57,54,2,0,54,21,0,57,1.0,0.947368,...,15.821391,1.544243,523.6,11.4,10,10,1.0,0.0,0.0,0.0
4,35,34,0,0,34,10,0,35,1.0,0.971429,...,12.754106,1.376251,313.2,7.0,4,5,1.0,0.0,0.0,0.0

In [33]:
df1_cc2_aggregation.head()

,eth_count,ip_count,arp_count,udp_count,tcp_count,mbtcp_count,icmp_count,pkt_count,per_eth_count,per_ip_count,...,std_iplen,entropy_iplen,bytes_per_timeunit,pkt_per_timeunit,modbus_response_count,modbus_request_count,modb_req_resp_fraction,icmp_request_count,icmp_response_count,icmp_req_resp_fraction
0,210,197,8,0,197,71,0,210,1.0,0.938095,...,16.035800,1.553259,1888.4,42.0,34,33,1.0,117.0,0.0,0.0
1,741,692,30,2,690,253,0,741,1.0,0.933873,...,16.321071,1.565481,6652.0,148.2,120,120,1.0,937.0,0.0,0.0
2,1029,957,38,7,950,353,0,1029,1.0,0.930029,...,23.955984,1.599073,9455.8,205.8,167,168,1.0,959.0,0.0,0.0
3,1055,986,37,6,863,321,117,1055,1.0,0.934597,...,24.187919,1.765596,9251.8,211.0,153,152,1.0,948.0,0.0,0.0
4,1046,1033,10,0,96,33,937,1046,1.0,0.987572,...,7.322841,0.500674,6157.8,209.2,15,16,1.0,951.0,0.0,0.0

In [34]:
df1[(df1['frame.frame.time_utc'] > end_time2_2)]['icmp.icmp.code'].value_counts()

icmp.icmp.code
0    6109
Name: count, dtype: int64